.btn {
  display: block;
  min-width: 220px;
  height: 52px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.11px;
  color: #ffffff;
  background-color: #2468ff;
  border: none;
}
